In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import json
import os
%matplotlib inline

In [4]:
neos = pd.read_csv('data/neos.csv', low_memory=False)

In [5]:
neos.head()

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,G,...,n_obs_used,n_del_obs_used,n_dop_obs_used,condition_code,rms,two_body,A1,A2,A3,DT
0,a0000433,2000433,433 Eros (A898 PA),433,Eros,NaN,Y,N,10.4,0.46,...,8767,4.0,2.0,0.0,0.28397,NaN,NaN,NaN,NaN,NaN
1,a0000719,2000719,719 Albert (A911 TB),719,Albert,NaN,Y,N,15.5,NaN,...,1874,NaN,NaN,0.0,0.39148,NaN,NaN,NaN,NaN,NaN
2,a0000887,2000887,887 Alinda (A918 AA),887,Alinda,NaN,Y,N,13.8,-0.12,...,1424,NaN,NaN,0.0,0.48159,NaN,NaN,NaN,NaN,NaN
3,a0001036,2001036,1036 Ganymed (A924 UB),1036,Ganymed,NaN,Y,N,9.4,0.30,...,6249,0.0,1.0,0.0,0.38525,NaN,NaN,NaN,NaN,NaN
4,a0001221,2001221,1221 Amor (1932 EA1),1221,Amor,NaN,Y,N,17.7,NaN,...,540,NaN,NaN,0.0,0.45568,NaN,NaN,NaN,NaN,NaN

In [26]:
with open('data/cad.json') as json_data:
    cad_dict = json.load(json_data)

In [21]:
cad_df = pd.DataFrame.from_dict(cad_dict['data']) #, orient='index').T.set_index('index')

In [27]:
cad_df.columns = list(cad_dict['fields'])

In [28]:
cad_df

,des,orbit_id,jd,cd,dist,dist_min,dist_max,v_rel,v_inf,t_sigma_f,h
0,170903,105,2415020.507669610,1900-Jan-01 00:11,0.0921795123769547,0.0912006569517418,0.0931589328621254,16.7523040362574,16.7505784933163,01:00,18.1
1,2005 OE3,52,2415020.606013490,1900-Jan-01 02:33,0.414975519685102,0.414968315685577,0.414982724454678,17.918395877175,17.9180375373357,< 00:01,20.3
2,2006 XO4,15,2415020.634068074,1900-Jan-01 03:13,0.114291499199114,0.114272705486348,0.114310301346124,7.39720266467069,7.3940503943318,00:23,23.4
3,7088,233,2415020.709345747,1900-Jan-01 05:01,0.237367466253556,0.237366346954997,0.237368585559926,4.78123058453747,4.77888225987132,< 00:01,16.7
4,2017 EE23,6,2415020.802629888,1900-Jan-01 07:16,0.388708125934362,0.380148975861157,0.40205426614884,9.93428771818077,9.93359768958909,7_06:11,21.7
...,...,...,...,...,...,...,...,...,...,...,...
406780,2019 XB,19,2488068.415523363,2099-Dec-30 21:58,0.0818156034891065,0.0203949644379065,0.310016636664693,11.2877666368244,11.2848811193432,3_14:12,23.6
406781,1995 CR,36,2488068.439124024,2099-Dec-30 22:32,0.428276584689314,0.428228135503262,0.428325033908133,21.4863479159177,21.4860583627312,00:03,21.7
406782,2003 JC17,18,2488068.556306376,2099-Dec-31 01:21,0.338023789278089,0.337895151250112,0.338152711373013,22.5355709843525,22.5352212003886,00:58,17.8
406783,2017 WS12,7,2488068.734163492,2099-Dec-31 05:37,0.141595130202053,0.129742488499914,0.156296976341895,7.51471164318556,7.51220712553632,3_07:42,23.2
406784,2010 XB24,19,2488069.369087819,2099-Dec-31 20:51,0.126306889299689,0.125428658725108,0.127185695415594,16.6758717193855,16.6746066532063,01:03,21.8

In [ ]:
with open('json_example.json') as json_data:
    data = json.load(json_data)